@font-face {
    font-family: 'Pretendard-Light';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}


body {
    min-width: 340px;
}

.modal {
    min-width: 340px;
!important;
}

a {
    color: #212529;
    text-decoration: none; /* $gray-900 */
}

a:hover {
    color: #007db6;
}


/* 부트스트랩이 아닌 CSS 클래스명은 "x-" 로 시작 */

/*
    layout
*/
.x-container-width {
    max-width: 80rem;
}

.x-main {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media screen and (max-width: 410px) {
    /* 화면이 너무 작을때 */
    .x-main {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

@media screen and (min-width: 1024px) {
    /* breakpoint: md */
    .x-aside {
        display: block;
        width: 180px;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 1023px) {
    /* breakpoint: md */
    .x-aside {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .x-aside__bi {
        display: block;
        width: 20rem;
        padding-right: 3rem;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 1023px) {
    .x-aside__bi {
        display: block;
        width: 15rem;
        padding-right: 1.5rem;
        flex-shrink: 0;
    }
}

@media screen and (max-width: 799px) {
    .x-aside__bi {
        display: none;
    }
}

/*
    navbar
*/
.dropdown-toggle::after {
    display: none;
}

/*
    pagination
*/
.x-page-link {
    border-top: 2px solid transparent;
    padding: 1rem;
    padding-bottom: 0;
}

.x-page-link.active {
    border-top: 2px solid #007db6;
}

/*
    container
*/
@media screen and (max-width: 639px) {
    /* breakpoint: 640px */
    .x-paddingx-v640 {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}

/*
    modal
*/
.modal {
    padding-right: 0px !important;
}

/*
    form
*/
@media screen and (min-width: 640px) {
    /* breakpoint: 640px */
    .x-margin-top__form {
        margin-top: 128px;
    }
}

@media screen and (max-width: 639px) {
    .x-margin-top__form {
        margin-top: 80px;
    }
}

@media screen and (min-width: 640px) {
    /* breakpoint: 640px */
    .x-margin-top__inner-form {
        margin-top: 64px;
    }
}

@media screen and (max-width: 639px) {
    .x-margin-top__inner-form {
        margin-top: 40px;
    }
}

.x-form-check-group {
    line-height: 1.75;
    padding: 0.375rem 0.75rem;
}

.x-field-error {
    font-size: .8rem;
    color: #dc3545; /* $red-500 */
}

.x-profile-img {
    width: 160px;
    height: 160px;
}

@media screen and (max-width: 575px) {
    /* breakpoint: sm */
    .x-profile-img {
        width: 120px;
        height: 120px;
    }
}

.x-border-greenlight {
    border: 3px solid #00DF9C;
    box-sizing: content-box;
}

.x-border-thin {
    border: 1px solid #f8f9fa;
}

.x-border-top-dashed {
    border-top: 1px dashed #dee2e6;   /* $gray-300 */
}

/*
    list group
*/
.x-list-group-item {
    border: none;
!important;
    border-radius: inherit;
}

.x-list-group-item.active {
    color: #343a40; /* $gray-800 */
!important;
    background: #e9ecef; /* $gray-200 */
}

/*
    button
*/
/* btn 커스텀 */
.btn.show {
    color: initial;
    background-color: initial;
}

/* btn-primary 커스텀 */
.btn-primary:active {
    background-color: #006a9b !important;
}

/* btn-outline-secondary 커스텀 */
.btn-outline-secondary:hover {
    color: #6c757d; /* $gray-600 */
    background-color: #f3f4f6 !important; /* $gray-150 */
}

.btn-outline-secondary:focus {
    background-color: #f3f4f6 !important; /* $gray-150 */
}

.btn-outline-secondary:active {
    color: #6c757d !important; /* $gray-600 */
}

/* btn-link 커스텀 */
.btn-link {
    color: #343a40; /* $gray-800 */
}

.btn-link:hover {
    color: #007db6 !important;
}

.btn-link:focus {
    border-color: #fff !important;
}

.btn-link.active {
    color: #212529;
    background: #f3f4f6; /* $gray-150 */
    font-family: Pretendard-Medium;
}

/* 대댓글 보기 버튼 */
.x-btn-comments {
    color: #007db6; /* $primary */
}

.x-btn-comments:hover {
    color: #00A4F0; /* $primary light */
}

/* 댓글 쓰기 버튼 */
.x-btn-comment {
    color: #6c757d; /* $gray-600 */
}

.x-btn-comment:hover {
    color: #007db6; /* $primary */
}

/*
    inline
*/
.x-link {
    color: #007db6; /* $primary */
}

.x-link:hover {
    color: #006a9b;
}

.x-link.active {
    color: #007db6;
}

.x-link.active:hover {
    color: #00A4F0;
}

.x-link.sub {
    color: #adb5bd; /* $gray-500 */
}

.x-link.sub:hover {
    color: #007db6;
}

.x-mention {
    color: #006a9b;
    font-size: 0.75rem;
    font-family: Pretendard-SemiBold;
    background: #dee2e6;    /* $gray-300 */
    padding: 0.15rem 0.3rem;
}

@media screen and (min-width: 576px) {
    /* breakpoint: xs */
    .x-comment-profile-img {
        width: 48px;
        height: 48px;
    }
}

@media screen and (max-width: 575px) {
    /* breakpoint: xs */
    .x-comment-profile-img {
        width: 32px;
        height: 32px;
    }
}

/*
    text
*/

.x-font-light {
    font-family: Pretendard-Light;
}

.x-font-medium {
    font-family: Pretendard-Medium;
}

.x-font-semibold {
    font-family: Pretendard-SemiBold;
}

.x-font-bold {
    font-family: Pretendard-Bold;
}

.x-text-xs {
    font-size: 0.75rem;
}

.x-text-sm {
    font-size: 0.875rem;
}

@media screen and (max-width: 390px) {
    /* 화면이 너무 작을때 공간 확보  */
    .x-v390-text-sm {
        font-size: 0.875rem;
    }
}

.x-text-gray-400 {
    color: #ced4da;
}

.x-text-gray-500 {
    color: #adb5bd;
}

.x-text-gray-600 {
    color: #6c757d;
}

.x-text-gray-700 {
    color: #495057;
}

.x-text-gray-800 {
    color: #343a40;
}

.x-color-greenLight {
    color: #00DF9C;
}

/*
    block
*/
.x-width-full {
    width: 100%;
}

.x-max-width-md {
    max-width: 28rem;
}

.x-inset-0 {
    inset: 0;
}

@media screen and (max-width: 575px) {
    .x-mb-sm-3 {
        margin-bottom: .75rem;
    }
}