<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knou.board.repository.mybatis.MemberMapper">

    <resultMap id="memberMap" type="Member">
        <result property="userNo" column="user_no"/>
        <result property="nickname" column="nickname"/>
        <result property="imageUrl" column="image_url"/>
        <result property="transferred" column="transferred"/>
        <result property="grade" column="grade" typeHandler="com.knou.board.domain.member.Member$Grade$TypeHandler"/>
        <result property="authority" column="authority"
                typeHandler="com.knou.board.domain.member.Member$Authority$TypeHandler"/>
        <result property="region" column="region" typeHandler="com.knou.board.domain.member.Member$Region$TypeHandler"/>
        <result property="joinedDate" column="joined_date"/>
        <result property="updatedDate" column="updated_date"/>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="userNo" parameterType="MemberLogin">
        INSERT INTO member_user (login_name)
        VALUES (#{loginName})
    </insert>

    <insert id="insertPassword">
        INSERT INTO auth_password (user_no, password)
        VALUES (#{userNo}, #{password});
    </insert>

    <insert id="insertProfile">
        INSERT INTO member_profile (user_no, nickname, transferred, grade, authority, region, joined_date)
        VALUES (#{userNo}, #{nickname}, #{transferred},
                #{grade, typeHandler=com.knou.board.domain.member.Member$Grade$TypeHandler},
                #{authority, typeHandler=com.knou.board.domain.member.Member$Authority$TypeHandler},
                #{region, typeHandler=com.knou.board.domain.member.Member$Region$TypeHandler}, #{joinedDate});
    </insert>

    <select id="selectProfileById" resultMap="memberMap">
        SELECT *
        FROM member_profile
        WHERE user_no = #{userNo}
    </select>

    <select id="selectUserByLoginName" resultType="MemberLogin">
        select *
        from member_user
        where login_name = #{loginName}
    </select>

    <select id="selectProfileByNickName" resultMap="memberMap">
        select *
        from member_profile
        where nickname = #{nickname}
    </select>

    <select id="selectUserByIdAndPassword" resultType="MemberLogin">
        select u.user_no
        from member_user u
                 join auth_password p on u.user_no = p.user_no
        where u.user_no = #{userNo}
          and p.password = #{password}
    </select>
</mapper>