<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knou.board.repository.mybatis.PostMapper">

    <resultMap id="memberMap" type="Member">
        <result property="userNo" column="user_no"/>
        <result property="nickname" column="nickname"/>
        <result property="imageUrl" column="image_url" />
        <result property="transferred" column="transferred" />
        <result property="grade" column="grade" typeHandler="com.knou.board.domain.member.Member$Grade$TypeHandler" />
        <result property="authority" column="authority" typeHandler="com.knou.board.domain.member.Member$Authority$TypeHandler" />
        <result property="region" column="region" typeHandler="com.knou.board.domain.member.Member$Region$TypeHandler" />
        <result property="joinedDate" column="joined_date" />
        <result property="updatedDate" column="updated_date" />
    </resultMap>
    <resultMap id="postMap" type="Post">
        <id property="id" column="post_id"/>
        <result property="topic" column="topic" typeHandler="com.knou.board.domain.post.Topic$TypeHandler" />
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="createdDate" column="created_date"/>
        <result property="modifiedDate" column="modified_date"/>
        <result property="viewCount" column="view_count"/>
        <collection property="author" resultMap="memberMap"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty = "id">
        INSERT INTO post (topic, author_id, title, content, created_date)
            VALUES (#{topic, typeHandler=com.knou.board.domain.post.Topic$TypeHandler}, #{author.userNo}, #{title}, #{content}, #{createdDate})
    </insert>
    
    <select id="selectById" resultMap="postMap">
        SELECT * FROM post
            JOIN member_profile ON post.author_id = member_profile.user_no
        WHERE post.post_id = #{id}
    </select>

    <select id="selectAll" resultMap="postMap">
        SELECT * FROM post
        JOIN member_profile ON post.author_id = member_profile.user_no
    </select>

    <select id="selectByTopics" resultMap="postMap">
        SELECT * FROM post
        JOIN member_profile ON post.author_id = member_profile.user_no
        <where>
            <foreach item="topic" index="index" collection="array" open="topic IN (" separator="," close=")">
                #{topic, typeHandler=com.knou.board.domain.post.Topic$TypeHandler}
            </foreach>
        </where>
         order by post.post_id desc
    </select>
    
    <update id="update" parameterType="Post">
        UPDATE post
        SET topic = #{topic},
            title = #{title},
            content = #{content},
            modified_date = #{modifiedDate}
        WHERE post_id = #{id}
    </update>

    <update id="updateViewCount" parameterType="Post">
        UPDATE post
        SET view_count = view_count + 1
        WHERE post_id = #{id}
    </update>

    <delete id="delete">
        DELETE FROM post WHERE post_id = #{id}
    </delete>
    
</mapper>